@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prompt";
  src: url("./fonts/Prompt.ttf");
}

@font-face {
  font-family: "NotoSansThai";
  src: url("./fonts/NotoSansThai.ttf");
}

@font-face {
  font-family: "Itim";
  src: url("./fonts/Itim.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Prompt !important;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}

th {
  font-size: 18px;
  background-color: hsl(219, 100%, 71%) !important;
  color: white;
}

td {
  font-size: 15px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

Button {
  margin-top: 20px;
}

a {
  text-decoration: none !important;
}

.title {
  font-family: Itim !important;
}

li:hover,
#Navbranded:hover {
  cursor: pointer;
}

#TopBarNav {
  background-color: #2d76ff;
  color: white;
  padding: 15px;
}

#SideDrawer {
  text-align: center;
  background-color: #2d76ff;
}

.Totop {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 1;
}

#Footbar {
  background-color: #2d76ff !important;
  border-radius: 0;
}

#Footbar a,
#CopyrightFootbar,
#SideDrawer h5,
#SideDrawer a,
#SideDrawer span,
#SideDrawer svg {
  color: white;
  text-align: center;
}

#SideDrawer a:hover,
#SideDrawer button:hover {
  background-color: red;
}

#SideDrawer button {
  margin: auto;
}

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  max-width: 1150px;
}

.centered-text-h2 {
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  #Footbar img {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 25px;
  }

  .centered-text-h2 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }
}
