@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prompt";
  src: url("./fonts/Prompt.ttf");
}

@font-face {
  font-family: "NotoSansThai";
  src: url("./fonts/NotoSansThai.ttf");
}

@font-face {
  font-family: "Itim";
  src: url("./fonts/Itim.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Prompt !important;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}

th {
  font-size: 18px;
  background-color: hsl(219, 100%, 71%) !important;
  color: white;
}

td {
  font-size: 17px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

Button {
  margin-top: 20px;
}

a {
  text-decoration: none !important;
}

.title {
  font-family: Itim !important;
}

li:hover,
#Navbranded:hover {
  cursor: pointer;
}

#TopBarNav {
  background-color: #2d76ff;
  color: white;
  padding: 15px;
}

#SideDrawer {
  text-align: center;
  background-color: #2d76ff;
}

.Totop {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 1;
}

#Footbar {
  background-color: #2d76ff !important;
  border-radius: 0;
}

#Footbar a,
#CopyrightFootbar,
#SideDrawer h5,
#SideDrawer a,
#SideDrawer span,
#SideDrawer svg {
  color: white;
  text-align: center;
}

#SideDrawer a:hover,
#SideDrawer button:hover {
  background-color: red;
}

#SideDrawer button {
  margin: auto;
}

.ccard {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  margin: auto;
}

.FOF-flex {
  display: flex;
}

.Def-flex {
  display: flex;
}

.FOF-flex img {
  max-width: 240px;
}

.cardd-item {
  background-color: hsl(219, 100%, 71%);
  color: white;
}

.cardd-item svg {
  color: hsl(219, 100%, 71%) !important;
}

.cardd-red {
  background-color: #ff6767;
  color: white;
}

.cardd-red svg {
  color: #ff6767 !important;
}

#AboutBtn a {
  background-color: #2d76ff !important;
}

.AboutBtn {
  background-color: #2d76ff !important;
}

.rbc-event {
  background-color: #6b9fff !important;
}

ol {
  transform: translateX(12%);
}

ol svg {
  color: white !important;
}

ol img {
  max-width: 75%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
}

ol span {
  background-color: #ff6767 !important;
}

#ING,
#ING:focus {
  outline: none;
  border: none;
  border-width: 0;
}

ol time {
  color: black !important;
  font-size: 18px !important;
}

ol h3 {
  font-size: 20px !important;
}

#TimeDecs {
  font-size: 18px !important;
  max-width: 51rem;
}

#TimeDecs {
  color: black !important;
}

.container {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  max-width: 80%;
}

.centered-text-h2 {
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.rfm-child {
  margin-left: 10px;
  margin-right: 10px;
}

.rfm-child p {
  font-size: 19px;
}

.hbanner {
  background-image: url('./assets/Herobanner.webp');
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-image: url('./assets/FootDivider.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  #Footbar img {
    margin-bottom: 15px;
  }

  .container {
    max-width: 95%;
  }

  h1 {
    font-size: 25px;
  }

  .centered-text-h2 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .ccard {
    grid-template-columns: repeat(1, auto);
  }

  .FOF-flex {
    flex-direction: column;
  }

  .FOF-flex img {
    max-width: 200px;
  }

  #TimeDecs {
    max-width: 25rem;
  }

  .Def-flex {
    flex-direction: column;
  }

  .Def-flex div {
    margin-top: 10px;
  }
}