.fc {
    --fc-button-bg-color: #171717;
    --fc-button-border-color: #171717;
    --fc-button-hover-bg-color: #171717;
    --fc-today-bg-color: #f5f5f5;
}

.fc .fc-toolbar-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.fc .fc-daygrid-event {
    cursor: pointer;
    background-color: #171717;
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 0.85rem;
}